* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	/*font-family: 'Rubik', sans-serif;*/
	background-color: #00419B;
	font-family: "Domine", serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
}
header{
	padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	width: 100%;
	height: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	border-block-end: 2px solid rgb(0, 0, 0); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	
}	

.logo img:hover{
	transform: scale(1.1);
}

nav ul{
	margin-top: 3%;
}

nav ul li{
	display: inline-block;
}


nav ul li a{
	font-size: 1.2rem;
	padding-right: 2rem;
	text-transform: uppercase;
}
nav ul li a:hover{
	text-decoration: underline;
	font-weight: 800;
}
a{
	text-decoration: none;
	color: #000000;
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	
}



p {
	font-family: "Domine", serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
}

.icon { display: none; }
section{
	max-width: 1300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
}
.principal{
	width: 100%;
	height: 650px;
	margin: 2% auto;
	background-image: url(../images/Blue_Lock_fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#000;
	border: 4px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 1%;

	
}

.principal_filosofia{
	width: 100%;
	height: 650px;
	margin: 2% auto;
	background-image: url(../images/Yoichi_Isagi_Cara_Pensando.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#000;
	border: 4px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 1%;

	
}
.principal_personaje{
	width: 100%;
	height: 650px;
	margin: 2% auto;
	background-image: url(../images/Yoichi_Isagi_Enojado.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#000;
	border: 4px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 1%;

	
}

/*.principal div h2{
	display: none;

}*/

h1{
	font-size: 2.6rem;
	text-align: center;
	margin-top: 1.5em;
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.texto_principal{
	font-size: 1.3rem;
	margin: 3% auto;
}

.trailer {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.trailer iframe {
	margin: 1% auto;
	width: 560px; 
	height: 315px; 
	border: 4px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	
}


.texto_secundario{
	font-size: 1.3rem;
	margin: 3% auto;
}

.secundario{
	margin: 5% auto;
	display: flex;
}

.secundario div{
	width: 33%;
	padding: 2%;
	text-align: center;
	
	
}
.secundario div a img{
	width: 100%;
	margin-bottom: 2rem;
	height: auto; 
    object-fit: cover; 
    max-height: 200px;
	border: 3px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	
}



.secundario div a img:hover{
	opacity: 1;
	border: 3px solid rgb(2, 2, 2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.galeria{
	margin: 5% auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5%;
	
}

.galeria a {
    flex: 1 1 23%;
    margin: 0.5%; /* Margen para dar espacio entre las imágenes */
    box-sizing: border-box; 
    text-align: center;
    max-width: 23%; 
	
}

.galeria a img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 300px; 
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 8%;
}

.galeria a img:hover{
	opacity: 1;
	border: 3px solid rgb(2, 2, 2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h4{
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #ffffff;
}

.personaje {
	overflow: auto;
	border: 3px solid rgb(2, 2, 2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 2%;
	background-color: white;
	color: #000;
	margin-bottom: 5%;
	border-radius: 1%;
}

.personaje:hover{
	transform: scale(0.99);
	opacity: 1;
	border: 4px solid rgb(0, 0, 0); 
    box-shadow: 0 0 7px rgb(239, 239, 239);
	border-radius: 1%;
}

.personaje h2{
	margin-bottom: 1%;
	font-size: 1.8rem;
}

.personaje img {
	float: right;
	max-width: 50%; 
	height: auto;
	margin-left: 4%; 
	margin-bottom: 4% ;
	border: 2px solid rgb(0, 0, 0); 
	border-radius: 1%;
}

.personaje p {
	text-align: left;
	font-size: 1.2rem;
}

.contenedor-filosofias {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 2%; /* Añade un margen entre las cajitas */
     
}

.filosofia {
    width: 48%; 
    border: 3px solid rgb(2, 2, 2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2%;
    background-color: white;
    color: #000;
    margin-bottom: 4%;
    border-radius: 1%;
    text-align: center;
    box-sizing: border-box; 
	position: relative;
}

.filosofia:hover{
	transform: scale(1.06);
}

.filosofia img{
	
	width: 100%;
	margin-bottom: 2rem;
	height: auto; 
    object-fit: cover; 
   	max-height: 80%;
	border: 3px solid rgb(0, 0, 0); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.filosofia h2{
	
}

.filosofia p {
	text-align: left;
}

.filosofia .leer-mas {
    display: block;
    margin: 1rem auto 0; 
    padding: 0.5rem 1rem;
    background-color: #000000; 
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.filosofia .leer-mas:hover {
    background-color: #000000; 
	
}

.cara_imagen {
	display: flex;
	margin: 4% auto;
	align-items: center;
	justify-content: center;
}


.cara_imagen  img {
	width: 50%;
	margin-bottom: 2rem;
	height: auto; 
    object-fit: cover; 
   	max-height: 20%;
	border: 3px solid rgb(255, 255, 255); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.valoracion {
	/*width: 85%;*/
	height: auto;
	border: 3px solid rgb(2, 2, 2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 1%;
	background-color: white;
	color: #000;
	margin-bottom: 5%;
	border-radius: 1%;
	margin-top: 1%;
	margin-bottom: 4%;
}

.contenedor {
    display: flex;
    align-items: center; 
}

.valoracion img {
    max-width: 15%; 
    height: auto;
    margin-right: 0.9rem;
	margin-top: -0.9rem;
}

.texto {
    display: flex;
    flex-direction: column; 
    flex: 1;
}

.critico {
    margin-bottom: 1%;
}

.texto p {
	font-size: 1.1rem;
}

.autor {
    margin-top: 1%; 

}

.subtitulo{
	font-size: 1.8rem;
}

.centrado{
	text-align: center;
	font-size: 1.8rem;
}

strong{
	/*color: #a89292;*/
	color: #fff536f9;

}

.personaje_mejorado{
	color: #000000;
}

.creadores{
	text-decoration: underline;
	color: #fff536f9;
}

footer{
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border-top: 3px solid rgb(0, 0, 0); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 20px;
	position: relative;
}


footer a {
    margin: 0 5px ; 
}

footer img{
	max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
	
}



footer img:hover {
	transform: scale(1.4);
}

.arreglo_footer img{
	max-width: 2.5rem;
	width: 100%;
	height: 40px;
	margin-right: .5%;
}

.derecho_autor {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    text-align: center; 
    width: 100%; 
	margin-left: -50%;
}

.titulo_contacto{
	margin-top: 5%;
	margin-bottom: 4%;
}

.forma_formulario {
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%; /* Añade un margen entre el formulario y la imagen */
}

.form{
	width:50%;
	height: 510px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(1vh) auto;
	padding:10px 30px;
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	font-size: 14px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-bottom: 4%;
}

.imagen { /* Modificación: nueva clase para estilizar la imagen */
    width: 40%; /* Modificación: Ajusta el ancho de la imagen */
    max-height: 455px;
	height: 800px;
    border: 3px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
	border-radius: 70%;
	
}

.imagen:hover {
	transform: rotate(30Deg);
	border: 3px solid rgb(0, 0, 0); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


h3.contacto{
	margin:8px 0;
	padding-bottom:10px;
	width:150px;
	color:#000000;
	border-bottom:3px solid #000000;
	font-size: large;
}

input{
	width:100%;
	margin-top: 30px;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid #000000;
	
}

input::placeholder {
    color: #000000; /* Color del placeholder */
}

input:focus{
	border-bottom:2px solid #000000;
}

button{
	padding:8px 12px;
	margin-top: 6%;
	margin-bottom: 4%;
	border:2px solid #000000;
	background:0;
	color:#000000;
	cursor:pointer;
	transition:all .3s;
	width: 20%; /* Ajusta el ancho del botón */
    max-width: 200px; /* Máximo ancho para que no sea demasiado grande */
    display: block;
    text-align: center;
}

button:hover{
	background:#000000;
	color:#fff;
	border:2px solid #ffffff;
}

div.pie_contacto {
    background: #000000;
    color: #fff;
    width: 100%; /* Asegura que el pie de contacto ocupe todo el ancho del formulario */
    text-align: center; /* Centra el contenido del pie de contacto */
    padding: 16px 4px;
    border-radius: 6px;
    box-shadow: 10px 10px 40px -14px #000;
}

div.pie_contacto span{
	margin:0 5px 0 15px;
}

@media (max-width: 576px) { 
	header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        background-color: #ffffff;
        position: sticky;
        top: 0;
        z-index: 1;
        flex-wrap: wrap; 
    }
    
    .logo {
        flex: 1;
    }

    .icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        flex: 1;
        text-align: right; 
    }

    nav {
        display: none; 
        width: 100%; 
        flex-direction: column; 
    }

    nav.responsive {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%; 
        margin-top: 1rem; 
    }

    nav.responsive ul {
        display: block; 
        width: 100%; 
    }

    nav.responsive ul li {
        display: block; 
        text-align: center; 
        padding: 0.4rem; 
    }

    nav.responsive ul li a {
        padding-right: 0; 
    }

	
section{
	max-width: 480px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}
p{
	padding: 2%;
	text-align: left;
	

}

.galeria {
	flex-direction: column;
	align-items: center;
}

.galeria a {
	flex: 1 1 100%; 
	max-width: 90%; 
	margin: 1rem 0; 
}

.principal{
	height: 300px;
	padding: 10%;
}

.principal_personaje{
	height: 300px;
	padding: 10%;
}

.principal_filosofia{
	height: 300px;
	padding: 10%;
}

.contenedor-filosofias {
	flex-direction: column; 
	align-items: center; 
}

.filosofia {
	width: 90%; 
	margin-bottom: 2rem; 
}

.filosofia img {
	max-height: none; /* Permite que las imágenes se ajusten automáticamente */
	height: auto;
}

.filosofia h2 {
	text-align: center; /* Centra el texto del h2 */
	font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
}

.filosofia p {
	text-align: left; /* Alinea el texto a la izquierda */
}

.filosofia .leer-mas {
	text-align: center; /* Centra el texto en el botón */
        width: auto; /* Ajusta el ancho automáticamente */
        padding: 0.5rem 1rem;
}

.secundario{
	margin-top: 1%;
	display: block;
}
.secundario div{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}
.secundario div a img{
	margin-bottom: 1rem;
	
}

.secundario div a img:hover {
	opacity: 1;
	border: 3px solid rgb(2, 2, 2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.secundario div a h4{
	font-size: 1.4rem;
}

h1{
	font-size: 2.8rem;
	padding: 2%;
	margin-top: 5%;
}


.trailer {
	padding: 4%;
	
}


.trailer iframe {
	margin: 1% auto;
	width: 360px; 
	height: 215px; 
	border: 4px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	
}

.titulo_centrado{
	text-align: center;
	padding: 4%;
}

.subtitulo{
	text-align: center;
	
}

.cara_imagen img {
	width: 100%; 
	max-height: 80%; 
	border: 3px solid rgb(0, 0, 0); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 1%;
}

.valoracion {
	display: flex;
	flex-direction: column;
	align-items: center; 
	padding: 2%; 
	margin: 2% 5% 8%;
}

.contenedor {
	display: flex;
	flex-direction: column; 
	align-items: flex-start; 
	width: 100%; 
}

.valoracion img {
	max-width: 80%; 
	height: auto;
	margin: 0 auto; 
	margin-bottom: 1rem; 
}

.critico {
	width: 100%;
	text-align: left; 
	margin-bottom: 1rem; 
	font-size: 1.4rem;
}

.texto p {
	text-align: left; 
	font-size: 1.2rem; 
	margin-bottom: 1rem; 
}

.autor {
	width: 100%;
	text-align: left; 
	font-size: 1.4rem;
}


.personaje {
	margin-bottom: 8%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 8%;
}

.personaje img {
	float: none;
	max-width: 90%; 
	margin: 0 0 8% auto 7%; 
}
.personaje p {
	text-align: left; 
	margin-top: 3%; 
	margin-bottom: 3%;
	margin-left: 2%;
}

h2{
	font-size: 1rem;
}
h4{
	font-size: 1rem;
}

.forma_formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	width: 90%; 
	margin: 2rem 0; 
}

.imagen {
	width: 80%; 
	height: auto; 
	margin-top: 4%; 
	margin-bottom: 8%;
	border-radius: 80%; 
	border: 3px solid rgb(255, 255, 255); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imagen:hover {
	transform: none;
	border: 3px solid rgb(255, 255, 255); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer{
	height: 150px;
	text-align: center;
}
footer a {
    margin: 0 5px ; 
}

footer img:hover {
	transform: scale(1);
}

.derecho_autor {
    
    bottom: 10px; 
    left: 68%; 
    text-align: center; 
    width: 100%; 
	margin-left: -50%;
}

}